*.log
.htaccess
favicon.ico
index.php
license.txt
readme.html
README.txt
wp-activate.php
wp-admin
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-content/plugins
wp-content/uploads
wp-cron.php
wp-includes
wp-links-opmi.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-links-opml.php
wp-content/themes/twentyeleven
wp-content/themes/twentytwelve
wp-config-sample.php